.nav{
    height: 48px;
    max-height: 44px;
    display: flex;
}
#nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #3d3e3f;
    font-weight: 600;
    position: sticky;
    position: -webkit-sticky;
    max-width: 980px;
    height: 100%;
    width: 100%;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1;
}
.nav img{
    width: 25px;
}