*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "SF Pro Text","PingFang SC",Arial,sans-serif;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    vertical-align: middle
}
:root{
    --redBgColor: #FA233B;
    --redFontColor: #FA233B;
    --redFillColor: #FA233B;
    --whiteFontColor: white;
    --whiteBgColor: white;
    --whiteFillColor: white;
    --silveryWhiteFontColor: #dadce0;
    --silveryWhiteBgColor: #dadce0;
    --silveryWhiteFillColor: #dadce0;
    --blackBgColor: black;
    --blackFontColor: black;
    --grayishFontColor: #3c3c4399;
    --grayishFillColor: #3c3c4399;
}
a{
    cursor: pointer;
}
*::selection{
    background: #1d1d1f65;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
}
a{
    color: var(--blackFontColor);
    /* transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); */
}
/*毛玻璃*/
.hmbl{
    background: hsl(0deg 0% 18% / 88%);
    backdrop-filter: saturate(50%) blur(20px);
    -webkit-backdrop-filter: saturate(50%) blur(20px);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.bmbl{
    background: hsl(0deg 0% 100% / 72%);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.16);
}
::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url(../img/search_clear.svg) no-repeat;
    height: 15px;
    width: 14px;
    margin: 10.5px;
    transition: all .4s;
}

/*滚动条*/
::-webkit-scrollbar{
    width: 8px;
}
/*滚动条轨道*/
::-webkit-scrollbar-track{
    background: #4D4D4D;
}
/*滑块*/
::-webkit-scrollbar-thumb{
    background: #1b91dd;
}

audio{
    outline: none;
}
audio::-webkit-media-controls-enclosure{
    border-radius: 0px;
    background: none;
}
audio::-webkit-media-controls-current-time-display{
    font-family: 'SF Pro Text', 'SF Pro Display', 'PingFang SC';
}
audio::-webkit-media-controls-time-remaining-display{
    font-family: 'SF Pro Text', 'SF Pro Display', 'PingFang SC';
}

@media (prefers-color-scheme: dark) {
    .album_content a{
        color: var(--redFontColor) !important;
    }
    :root, #bag, .login{
        background: #1d1d1f !important;
    }
    *, a{
        color: var(--silveryWhiteFontColor) !important;
    }
    .info a, .info a:nth-of-type(2){
        color: var(--silveryWhiteFontColor) !important;
    }
    #nav_link img{
        filter: invert(0);
    }
    .menu div{
        background: var(--silveryWhiteBgColor);
    }
    .open_list svg{
        fill: var(--silveryWhiteFillColor);
    }
    .nav, .audioplayer, .play_list{
        background: hsl(0deg 0% 18% / 88%);
        backdrop-filter: saturate(50%) blur(20px);
        -webkit-backdrop-filter: saturate(50%) blur(20px);
        box-sizing: border-box;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    }
    .audioplayer{
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        border-bottom: none;
        bottom: -1px;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background: var(--whiteBgColor);
    }
}