*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "SF Pro Text","PingFang SC",Arial,sans-serif;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}
a{
    cursor: pointer;
}
*::selection{
    background: #1d1d1f65;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
}
a{
    color: #000;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
/*毛玻璃*/
.hmbl{
    background: hsl(0deg 0% 18% / 88%);
    backdrop-filter: saturate(50%) blur(20px);
    -webkit-backdrop-filter: saturate(50%) blur(20px);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.bmbl{
    background: hsl(0deg 0% 100% / 72%);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.16);
}
::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url(../img/search_clear.svg) no-repeat;
    height: 15px;
    width: 14px;
    margin: 10.5px;
    transition: all .4s;
}

/*滚动条*/
::-webkit-scrollbar{
    width: 8px;
}
/*滚动条轨道*/
::-webkit-scrollbar-track{
    background: #4D4D4D;
}
/*滑块*/
::-webkit-scrollbar-thumb{
    background: #1b91dd;
}

audio{
    outline: none;
}
audio::-webkit-media-controls-enclosure{
    border-radius: 0px;
    background: none;
}
audio::-webkit-media-controls-current-time-display{
    font-family: 'SF Pro Text', 'SF Pro Display', 'PingFang SC';
}
audio::-webkit-media-controls-time-remaining-display{
    font-family: 'SF Pro Text', 'SF Pro Display', 'PingFang SC';
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #1d1d1f;
    }
    *{
        color: #dadce0;
    }
    .info a, .info a:nth-of-type(2){
        color: #dadce0 !important;
    }
    .menu_bar, .menu_bars, .open span{
        background: #dadce0;
        background-color: #dadce0 !important;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background: #fff;
    }
}